<div id="questionContainer">
	<div class="jumbotron">
		<div class="container">
			<p ng-bind-html="question.question"></p>
		</div>
	</div>

	<div class="container">
		<div ng-repeat="answer in question.answers" class="row">
			<div class="well answertext container" ng-class="{selected: answer.selected}">
				<div class="col-md-8">
					<h3>{{getAnswerLetter(answer.number)}}. {{answer.answer}}</h3>
				</div>
				<div class="col-md-4 centered">
					<div class="progress">
		  			<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{calculatePercentage(votes[answer.number], totalVotes)}}%">
		  			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>