#container {
	width:400px;
}

#container .tile.opened {
	background-color:red;
}

#container .tile.active {
	background-color: green;
}

body > .correct {
	background-color:red;
}

body > .wrong {
	background-color: green;
}

div.block{
	width:150px;
	height: 150px;
	border:1px solid #666;
	background-color: #999;
}

.answer.selected {
	background-color: red;
}

#container .tile {
	text-align: center;
	display:-webkit-flex;
	-webkit-align-items: center;
	width:100px;
	height:100px;
	float:left;
	background-color:#999;
}