#container {
	width:880px;
}

#container .tile.opened {
	background: url('img/bg.png');
}

#container .tile.active {
	background-color: green;
}

body > .correct {
	background-color:red;
}

body > .wrong {
	background-color: green;
}

div.block{
	width:150px;
	height: 150px;
	border:1px solid #666;
	background-color: #999;
}

.answer {
	display:block;
	clear:both;
}

.answer div{
	width:45%;
	float:left;
}

.bar {
	width:0%;
	height:10px;
	background-color:#999;
	margin:1px 0px 1px 0px;
}

.answertext.selected {
	background-color: red;
}

#container .tile {
	text-align: center;
	display:-webkit-flex;
	-webkit-align-items: center;
	width:220px;
	height:220px;
	float:left;
	background-color:#999;
}